/* 全局样式 */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100%;
}

body,
h1,
h3,
h4,
p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
}


ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h3,
h4,
p,
span,
div {
    margin: 0;
    padding: 0;
}

h1,
h3,
h4,
p {
    text-align: center;
    margin: 0 auto;
}
.clearfix:after{ display: block; clear: both; height: 0; contain: ''}

/* 头部 */
/*.top-box{*/
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-height: 100%;*/
    /*background-image: url(../img/banner.png);*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-color: #191b1d;*/
/*}*/


.top-box{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: url(../img/banner.png) no-repeat;
    background-position: center 0%;
    -background-size: cover;
    -background-attachment: fixed;
    background-color: #fff;

}

/*.top-box:before{*/
    /*content: '';*/
    /*position: fixed;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: url(../img/banner.png) center 0 no-repeat;*/
    /*background-size: cover;*/
/*}*/

.zz {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #252525;
    z-index: 0;
    opacity: .50;
}

.nav-box {
    position: absolute;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: auto;
}
/* 首屏的下拉三角箭头 */
.box-bottom {
    position: absolute;
    -bottom: 90px;
    bottom:0;
    width: 100%;
    height: 90px;
}

.top {
    position: relative;
    /* max-width: 1620px; */
    width: 100%;
    margin: 0 auto;
    height: 90px;
    /* padding: 0px 30px 0px 30px; */
    /* background-color: darkcyan; */
}

.nav li {
    list-style: none;
}

.logo {
    position: fixed;
    width: 130px;
    height: 90px;
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-weight: initial;
    display: none;
}

.logo img {
    width: 80px;
}
.off {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    color: #fff;
    /* background-color: darkcyan; */
}

.off img {
    width: 40px;
}

.youbian-icon {
    position: absolute;
    width: 130px;
    height: 90px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.icon-xiangxia {
    animation: myfirst 2s infinite;
}

@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.youbian-icon img {
    width: 22px;
}

.iphone-nav {
    position: absolute;
    right: 0;
    width: 130px;
    height: 90px;
    line-height: 65px;
    text-align: right;
    padding-right: 20px;
}

.iphone-nav img {
    width: 20px;
}

/* 导航栏 */
.nav {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 700px;
    height: 90px;
    z-index: 5;
    /* background-color: #B8860B; */
}

.nav ul {
    margin: 0;
    padding: 0;
    width: auto;
    /* background-color: #B8860B; */
}

.nav >li{padding:0 45px;}
.nav li {
    position: relative;
    -float: left;
    text-align: center;
    font-size: 14px;
    line-height:1.8;
    -width: 100px;
    transition: .5s;
    color: #424242;
    font-weight: initial;
}

.nav .on {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
    width: 60px;
    height: 4px;
    background-color: #1263FF;
}

.font-on {
    font-weight: bold;
    color: #1263FF;
}

.nav li:hover {
    color: #0060ff;
    transition: .5s;
}

.nav-bg {
    position: absolute;
    position: fixed;
    width: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 9999;
    opacity: 0.93;
    background-color: #101010;
    transition: .4s cubic-bezier(0.58, 0.01, 0.25, 0.99);
}

/* 导航栏 */
.nav {
    position: absolute;
    margin: 0 auto;
    width: 1200px;
    z-index: 5;
    margin:0 auto;
    /* background-color: #B8860B; */
}
.nav >ul{margin-left:10%;}
.nav ul {
    margin: 0;
    padding: 0;
    width: auto;
    float:left;
    /* background-color: #B8860B; */
}

.about:hover .child {
    display: block;
}

.about>img{
    width: 14px;
    height: 7px;
    margin-bottom: 5px;
    vertical-align: middle;
}
/* .nav .first{
    display: flex;
    justify-content: flex-start;
} */
.nav .first > li {
    line-height: 25px;
    cursor: pointer;
    position: relative;
    float: left;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    margin-right: 3px;
    -width: 120px;
    padding:0 35px;
    transition: .5s;
    color: #666;
    font-weight: initial;
}
.nav .first > li:first-child{
    margin-top: 15px;
    margin-right: 20px;
}
.nav .first > li:nth-child(even){
    margin-top: 20px;
}
.first .changeEn{
    /*color: #FFA600;*/
}


.nav .child {
    left: 25px;
    padding-top: 10px;
    display: none;
    position:absolute;
    -margin-top: 8px;
    width:120px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 4px 7px #E0E0E0;
}

.nav .child li {
    padding-left: 10px;
    color: #8a8a8a;
    line-height: 2;
    text-align: left;
    display: block;
}

.nav .child li:last-child {
    padding-bottom: 10px;
}

/*.nav .child li:first-child {*/
    /*padding-top: 10px;*/
/*}*/


.nav .on {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
    width: 60px;
    height: 4px;
    background-color: #1263FF;
}


.nav li:hover {
    color: #FFA600;
    transition: .5s;
}

.nav li a {
    color: #8a8a8a;
    text-decoration: none;
}

.nav li a:hover {
    color: #FFA600;
    transition: .5s;
}

.nav-bg {
    position: absolute;
    position: fixed;
    width: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 9999;
    opacity: 0.93;
    background-color: #101010;
    transition: .4s cubic-bezier(0.58, 0.01, 0.25, 0.99);
}

/* 导航栏 */
.nav-shouji {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 102px;
    height: 90px;
    z-index: 5;
    /* background-color: #B8860B; */
}

.nav-shouji ul {
    margin: 0;
    padding: 0;
    width: auto;
    height: 90px;
    /* background-color: #B8860B; */
}

.nav-shouji li {
    position: relative;
    float: left;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 90px;
    width: 100px;
    height: 50%;
    transition: .3s;
    color: #fff;
    list-style: none;
    font-weight: 900;
    font-family: serif;
}

.nav-shouji .on {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
    width: 60px;
    height: 4px;
    background-color: #1263FF;
}

/* 轮播图 */
.banner {
    position: relative;
    top: 36%;
    max-width: 1200px;
    /* width: 100%; */
    margin: 0 auto;
    /*height: 500px;*/
    /*margin-top: 475px;*/
    height: 348px;
    margin-top: 454px;
    text-align: center;
    z-index: 8;
    box-sizing: border-box;
    /* background-color: hotpink; */
}

.banner h1 img {
    width: 250px;
}

.banner h1 span {
    color: #0060ff;
    font-weight: bold;
}

.banner p {
    /* max-width: 560px; */
    margin-top: 20px;
    width: 350px;
    color: #FFF;
    font-size: 1.8rem;
}

.button-box {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /* /* background-color: #00008B; */
}

.button-bg {
    position: absolute;
    width: 100%;
    height: 50px;

}

.button-box {
    position: absolute;
    width: 270px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}

.button-lift {
    display: inline-block;
    color: #424242;
    text-align: center;
    font-size: 16px;
    margin: 130px auto 0;
    width: 130px;
    height: 40px;
    line-height: 36px;
    border-radius: 50px;
    background-color: #fff;
    transition: .5s;
    text-decoration: none;
}

.button-lift img {
    width: 18px;
    height: 17px;
    vertical-align: middle;
}

.button-lift span {
    margin-left: 5px;
    vertical-align: middle;
}

.button-lift:hover {
    /*background-color: white;*/
    background-color: #FFA600;
}

/* 按钮 */
/*.button {*/
/*position: absolute;*/
/*float: right;*/
/*right: 0px;*/
/*color: #fff;*/
/*text-align: center;*/
/*font-size: 16px;*/
/*width: 130px;*/
/*height: 40px;*/
/*line-height: 40px;*/
/*border-radius: 50px;*/
/*border: 1px solid #fff;*/
/*}*/

/* 伪元素CSS变量 */
/* .button::before {
	--size: 0;
	content: ' ';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(circle closest-side, #FFAE21, transparent);
	transform: translate(-50%, -50%);
	transition: width .3s ease, height .3s ease;
} */

.button > span {
    position: relative;
    pointer-events: none;
    /*文字禁止选中*/
    -webkit-user-select: none;
}

/* .button:hover::before {
	--size: 300px;
} */

/* .button:hover {
	background-color: #0060FF;
	transform: scale(1.3);
	border: 0px;
	transition: .3s;
} */

.banner-bg {
    position: relative;
    float: right;
    right: 0px;
    top: -295px;
    z-index: 5;
}

.banner-bg img {
    width: 900px;
}

/* 进度条 */
.progress-bar {
    position: absolute;
    margin-top: 100px;
    width: 230px;
    height: 2px;
    /* background-color: #B8860B; */
}

.progress-bar .on {
    background-color: #fff;
}

.progress-bar ul {
    margin: 0;
    padding: 0;
    width: 250px;
    height: auto;
    /* background-color: #B8860B; */
}

.progress-bar li {
    float: left;
    margin-right: 20px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    list-style: none;
}

/* 进度 */
.schedule-bg {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
}

.schedule {
    width: 90%;
    height: 2px;
    background-color: #1263FF;
}

/* 内容样式 */
.box-1 {
    margin: 0 auto;
    max-width: 1200px;
    height: 300px;
    padding: 0px 30px 0px 30px;
}

.box-1 h1 {
    position: relative;
    padding-top: 105px;
    font-size: 26px;
    font-weight: initial;
    color: #4d4d4d;
}

.box-1 p {
    max-width: 1200px;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: #9b9b9b;
}

.box-2 {
    margin: 0 auto;
    max-width: 1200px;
    height: 200px;
    padding: 0px 30px 0px 30px;
}

.box-2 h3 {
    padding-top: 80px;
    font-size: 26px;
    color: #4d4d4d;
    font-weight: initial;
}
/* 愿景 */
.box-3 {
    margin: 0 auto;
    /* max-width: 1200px; */
    padding: 0px 30px 0px 30px;
    padding-top: 40px;
    background-color: #fff;
}

.box-3-tex {
    width: 100%;
    padding-top: 60px;
    /* background-color: darkcyan; */
}

.box-3-tex h1 {
    font-size: 24px;
    color: #0060ff;
    font-weight: bold;
}

.box-3-tex h3 {
    font-size: 26px;
    font-weight: bold;
    color: #4d4d4d;
    margin-bottom: 30px;
}

.box-3-tex span {
    width: 20px;
    height: 3px;
    background-color: #0060ff;
    display: block;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.box-3-tex p {
    width: 67%;
    font-size: 14px;
    color: #4d4d4d;

}

/* 图标 */
.box-4 {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.box-4 div {
    float: left;
    height: 500px;
    width: 30%;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box-4-icon-1 {
    margin-left: 1.66%;
    margin-right: 1.66%;
}

.box-4-icon-2 {
    margin-left: 1.66%;
    margin-right: 1.66%;
}

.box-4-icon-3 {
    margin-left: 1.66%;
    margin-right: 1.66%;
}

.box-4 p {
    width: 200px;
    text-align: left;
    font-size: 14px;
}

.box-4 p.box-4-p-1 {
    color: #FFA600;
    margin-top: 10px;
}

.box-4 p.box-4-p-2 {
    color: #737373;
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
}
.box-4 p.box-4-p-2-en{
    font-size: 12px;
    line-height: 20px;
}


.box-4 span {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 200%;
    margin-left: 33%;
    background-color: #FAFAFA;
    text-align: center;
    /*line-height: 140px;*/
    /*margin: auto;*/
    margin-top: 42px;
}

.box-4 img {
    /*width: 48px;*/
}

.box-4 h1 {
    padding-bottom: 2px;
    font-size: 22px;
    width: 30px;
    margin-top: 40px;
    text-align: left;
    font-weight: normal;
    color: #FFA600;
    margin-left: 77px;
    border-bottom: 2px solid #FFA600;
    /*text-decoration: underline;*/
}

.box-4 h3 {
    width: 200px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin-top: 26px;
    /*font-size: 14px;*/
    /*color: rgb(77, 77, 77);*/
    /*text-align: center;*/
    /*padding-top: 20px;*/
    /*font-weight: bold;*/
}


.box-5 {
    /*height: 200px;*/
    margin: 0 auto;
    background-color: #fafafa;
    padding: 0px 30px 0px 30px;
}
/* 生态图 */
.box-5 h1 {
    font-size: 26px;
    margin: 0;
    color: #4d4d4d;
    padding-top: 100px;
}

.box-5 p {
    width: 100%;
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 10px;
}

.images-father {
    background-color: #fafafa;
    box-sizing: border-box;
}

/* 生态图 */
.images {
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    /*border-radius: 20px;*/
    padding: 60px 30px 0px 30px;
}

.img-dongtai {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom:30px;
    width: 100%;
    -height: 500px;
    text-align: center;
    /* background-color: #0060ff; */
}

/* 数据图标 */
.cology {
    float: left;
    -width: 520px;
    with:48%;
    -left: 200px;
    height: auto;
    -margin-left: 110px;
    margin-left: 58px;
    /* background-color: gold; */
}

.datd-box {
    position: relative;
    width: 520px;
    height: 100px;
    /* background: greenyellow; */
}

.datd-box .left-datd-icon {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    transition: .5s;
    margin-left: -15px;
    /* background: chocolate; */
}

.datd-box .contert-follologo-icon {
    position: absolute;
    float: left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 322px;
    height: 100px;
    text-align: center;
    transition: .5s;
    /* background: black; */
}

.datd-box .contert-follologo-icon img {
    margin-top: 15px;
}

.datd-box .right-ka-icon {
    position: absolute;
    float: left;
    right: 0;
    width: 100px;
    height: 100px;
    transition: .5s;
    /* background: hotpink; */
}

/* 激励图标 */
.excitation-box {
    position: relative;
    width: 520px;
    height: 60px;
    transition: .5s;
    /* background: greenyellow; */
}

.excitation-box .right-excitation-icon {
    position: absolute;
    float: left;
    right: 0;
    width: 100px;
    height: 60px;
    /* background: aquamarine; */
    text-align: center;
    transition: .5s;
}

.excitation-box .right-excitation-icon-english {
    position: absolute;
    float: left;
    right: 0;
    width: 100px;
    height: 60px;
    /* background: aquamarine; */
    text-align: center;
    transition: .5s;
}

.excitation-box .right-excitation-icon img {
    margin-top: -8px;
    margin-left: 13px;

}

.excitation-box .right-excitation-icon-english img {
    margin-top: -20px;
    margin-left: 46px;
}

/* follo图标 */
.follo-box {
    position: relative;
    width: 520px;
    height: 100px;
    transition: .5s;
    /* background: greenyellow; */
}

.follo-box .left-follo-icon {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    transition: .5s;
    /* background: chocolate; */
}

.follo-box .contert-follo-icon {
    position: absolute;
    float: left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 322px;
    height: 100px;
    /* background: black; */
    text-align: center;
    transition: .5s;
}

.follo-box .contert-follo-icon-english {
    position: absolute;
    float: left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 350px;
    height: 100px;
    /* background: black; */
    text-align: center;
    transition: .5s;
}

.follo-box .contert-follo-icon img {
    margin-top: 30px;
}

.follo-box .contert-follo-icon-english img {
    margin-top: 30px;
    width: 300px;
}

.left-follo-icon img {
    margin-top: -84px;

}

.follo-box .right-follo-icon {
    position: absolute;
    float: left;
    right: 0;
    width: 100px;
    margin-left: 2px;
    height: 100px;
    /* background: hotpink; */
    -webkit-transform: rotate(360deg);
    animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -webkit-animation: rotation 2s linear infinite;
    -o-animation: rotation 2s linear infinite;
    transition: .5s;
}

.follo-box p {
    position: absolute;
    right: -67px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 38px;

}
.follo-box .english-follo-box-p{
    position: absolute;
    right: -100px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

/* 分成 */
.jili-box {
    position: relative;
    width: 520px;
    height: 60px;
    transition: .5s;
    /* background: greenyellow; */
}

.jili-box .center-jili-icon {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 322px;
    height: 60px;
    /* background: aquamarine; */
    text-align: center;
    z-index: 1;
    transition: .5s;
}

.jili-box .center-jili-icon img {
    width: 300px;
    margin-left: 20px;
}

.jili-box .righe-jili-icon {
    position: absolute;
    float: left;
    right: 0;
    width: 100px;
    height: 60px;
    /* background: hotpink; */
    text-align: center;
    transition: .5s;
}

.jili-box .righe-jili-icon-english {
    position: absolute;
    float: left;
    right: 0;
    width: 100px;
    height: 60px;
    /* background: hotpink; */
    text-align: center;
    transition: .5s;
}

.jili-box .righe-jili-icon img {
    margin-top: 10px;
    margin-left: 20px;
}

.jili-box .righe-jili-icon-english img {
    margin-top: 10px;
    margin-left: 46px;

}

.jili-box .center-jili-icon img {
    margin-left: -21px;
    margin-top: -22px;
}

/* use */
.use-box {
    position: relative;
    width: 520px;
    height: 100px;
    transition: .5s;
    /* background: greenyellow; */
}

.use-box .left-use-icon {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    transition: .5s;
    /* background: chocolate; */
}

.use-box .left-use-icon img {
    margin-left: -25px;
    margin-top: 30px;
}

.use-box .contert-fuwu-icon {
    position: absolute;
    float: left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    text-align: center;
    transition: .5s;
    /* background: black; */
}

.use-box .contert-fuwu-icon img {
    margin-top: 35px;
    margin-left: -10px;
    width: 310px;
}

.use-box .contert-use-icon img {
    margin-top: 23px;
    margin-left: -10px;
}

.use-box .right-pingtai-icon img {
    position: absolute;
    margin-left: 165px;
    margin-top: 30px;
    transition: .5s;
}

.cology-tex {
    argin-right: 100px;
    float: right;
    -width: 430px;
    width:38%;
    height: auto;
    transition: .5s;
    background-image: url("../img/box-5-right-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cology-tex .biaoti {
    width: 430px;
    height: 60px;
    margin-top: 30px;
}

.biaoti h1 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 28px;
    transition: .5s;
    color: #333333;
    margin-top: 20px;
}

.cology-tex .wenzi {
    margin-top: 20px;
    height: 308px;
}

.cology-tex .wenzi p {
    font-size: 16px;
    width: 360px;
    font-weight: initial;
    text-align: left;
    padding: 20px;
    color: #666;
    transition: .3s;
    line-height: 2;
}

.box-6 {
    margin: 0px auto 50px;
    max-width: 1200px;
    height: 700px;
    padding: 0px 30px 0px 30px;
    /* background-color: darkgoldenrod; */
}
/* 使用案例 */
.box-6 h1{
    font-size: 26px;
    margin: 0;
    color: #4d4d4d;
    padding-top: 100px;
    /* margin-bottom: 60px; */
}
/* 使用案列 */
.box-6-tex {
    float: left;
    /* overflow: hidden; */
    width: 33.33%;
    height: 240px;
    margin-top: 60px;
    text-align: center;
    padding: 0 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.box-6-tex span {*/
/*margin-top: 100px;*/
/*top: 0px;*/
/*width: 92%;*/
/*height: 200px;*/
/*!*background-color: #0060ff;*!*/
/*display: block;*/
/*}*/
.box-6-tex img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.box-6-tex h3 {
    max-width: 367px;
    padding-top: 16px;
    font-size: 20px;
    font-weight: normal;
    color: #4d4d4d;
}

.box-6-tex p {
    max-width: 367px;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #666666;
}

/* 路线图 */
.box-7 {
    margin: 0 auto;
    max-width: 1200px;
    height: 197px;
    padding: 0px 30px 0px 30px;
    padding-top: 50px;
}

.box-7 h1 {
    font-size: 26px;
    margin: 0;
    color: #4d4d4d;
    padding-top: 100px;
    font-weight: bold;
}

.box-7-route {
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    padding: 0px 30px 0px 30px;
}

.route {
    /*float: left;*/
    /*max-width: 400px;*/
    display: flex;
    justify-content: space-between;
    height: auto;
}

/* 圆点 */
.route-list {
    position: absolute;
    width: 0px;
    height: 850px;
    display: block;
    background-color: darkcyan;
    margin-top: -50px;
}

.route span {
    text-align: center;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 5px;
    background-color: #d6d6d6;
    /*margin-top: 150px;*/
    margin-left: -5px;
}

.route .list-yellow {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: #0060ff;
    /* border: 2px solid #ff9a00; */
    border-radius: 20px;
    z-index: 2;
}

.pulse {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -51px;
    top: -51px;
    border: 6px solid #0060ff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 3s ease;
    -moz-animation: warn 3s ease;
    animation: warn 3s ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes warn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    25% {
        transform: scale(0);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.1);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.5);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes "warn" {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }

    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }

    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }

    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

/* 列表 */
.list {
    /*float: left;*/
    margin-left: 25px;
    width: 35%;
    height: 850px;
    margin: 0 auto;
    display: inline-block;
    /* background-color: darkgoldenrod; */
}

.list-left {
    margin-top: 129px;
}

.list-right {
    margin-top: 42px;
}

.list-left ul li h3, .list-left ul li p {
    text-align: right;
}

.list ul {
    padding: 0;
}

.list ul li {
    width: 100%;
    height: 173px;
    list-style: none;
}

.list h3 {
    width: 100%;
    height: 30px;
    font-size: 22px;
    color: #1d1e1f;
    font-weight: bold;
    text-align: left;
}

.list p {
    margin-top: 5px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: #4d4d4d;
    text-align: left;
}

.list .yellow {
    color: #FFA600;
}

.route-img {
    float: right;
    width: 800px;
    height: auto;
    margin-top: 100px;
    /* background-color: #F5A623; */
}

.round {
    display: inline-block;
    width: 30px;
    height: 800px;
    margin-top: 30px;
    background-color: #FFC845;
    position: relative;
    text-align: center;
}

.round:before {
    position: absolute;
    content: '';
    display: inline-block;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
}

.round span {
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 37%;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 76px;
}

.round span:first-child {
    margin-top: 38px;
}

.round span:nth-child(3) {
    /*margin-bottom: 80px;*/
    background-color: #FFA600;
}


/* 团队成员 */
.box-8 {
    width: 100%;
    height: auto;
    background-color: #fbfbfb;
    /* background-image: url(../img/1920x10802.jpg); */
    background-position: center center;
    background-image: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 80px;
    box-sizing: border-box;
}

.box-8-team {
    max-width: 1200px;
    margin: 0 auto;
    -width:1200px;
    height: auto;
    -padding: 0 30px 100px 30px;
}

.tame {
    height: 117px;
    font-weight: bold;
    color: #4d4d4d;
}

.tame h1 {
    font-size: 26px;
    font-weight: bolder;
}

/*联合创始人部分*/
.box-founder-father {

}

.box-founder {
    width: 23.3%;
    float: left;
    height: 430px;
    text-align: center;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -margin:0 1%;
    margin-right:2%;
}
.box-founder:last-child{ margin-right: 0}

.box-founder img {
    width: 230px;
    height: 230px;
}

.box-founder .boxcontent {
    margin-top: -15%;
    word-wrap:break-word
}

.box-founder h2 {
    color: #FFA600;
    font-size: 22px;
    font-weight: bold;
}

.box-founder h3 {
    width: 84%;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.box-founder p {
    padding: 0 20px;
    font-size: 14px;
    text-align: left;
    height: 20px;
    color: #666;
    box-sizing: border-box;
}

/*顾问*/

/* 顾问的父元素 */
.box-8-new{ 
    padding: 20px 0;
}
.box-8-father {
    -display: flex;
    -justify-content: space-around;
    margin-bottom: 6%;
}

.box-8-tex {
    -display: inline-block;
    -max-width: 573px;
    display: flex;
    width: 48%;
    height: 239px;
    float:left;
    background-color: #fff;
    /* margin-left: 1.6%; */
    border:1px solid #e7e7e7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.box-8-tex:nth-child(2){
    float: right;}


.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.box-8-tex img {
    float: left;
    height: 239px;
}

.box-8-tex .rightbox {
    float: right;
    margin-top: 20px;
    flex: 1;
}

.box-8-tex h3 {
    width: 100%;
    text-align: left;
    font-size: 22px;
    padding-top: 40px;
    color: #FFA600;
    font-weight: bold;
}

.box-8-tex h2 {
    width: 82%;
    height: 50px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    border-bottom: 1px solid #EAEAEAFF;
}

.box-8-tex p {
    font-size: 14px;
    text-align: left;
    color: #666666;
    padding-right:10px;
}

/* icon */
.box-9-bg {
    width: 100%;
    height: 290px;
    background-color: #2D2F34;
    padding: 75px 110px 0;
    box-sizing: border-box;
}

.box-9-bg ul {
    display: flex;
    justify-content: space-around;
}

.box-9-bg ul li {
    list-style: none;
}

.box-9-bg ul li h5 {
    font-size: 14px;
    font-weight: 400;
    color: #f2f2f2;
    margin-top: 0;
}

.box-9-bg ul li p {
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    color: #CECCCC;
    height: 20px;
}

.box-9-bg .icons a{
    margin-right: 15px;
    display: inline-block;
}

.box-9-bg .emailInput {
    margin: 0;
    padding-top: 0;
    border: 0;
    padding-bottom: 0;
    width: 233px;
    height: 36px;
    padding-left:10px;
    float:left;
    border-radius: 0;
}
input::-webkit-input-placeholder {
     color: #9B9B9B;
     font-size: 12px;
     text-align: left;
}

input::-ms-input-placeholder {
    text-align: center;
}

input::-webkit-input-placeholder {
    text-align: center;
}

.box-9-bg .dy {
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFC845;
    color: #fff;
    width: 100px;
    height: 36px;
    font-size: 12px;
    color: #f2f2f2;
    margin-left: -5px;
}
.box-9-bg .dy:hover{
    background-color: #FFA600;
}
.erweimaDiv{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    /*left: 42%;*/
    /*bottom: 30%;*/
    display: none;
    text-align: center;
    background-color: rgba(0,0,0,.2);
}
.erweimaDiv>div{
    background-color: #FFFFFF;
    width: 350px;
    height: 350px;
    margin: 120px auto 0;
    line-height: 350px;
    position: relative;
}
.erweimaDiv img{
    margin-top: 10%;
    width: 300px;
    height: 300px;
}
.erweimaDiv>div  .close{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: -15px;
}
.closehover{
    display: none;
}

.main-div{
    /*position: absolute;*/
}
/*.box-9 {*/
/*position: relative;*/
/*max-width: 1200px;*/
/*margin: 0 auto;*/
/*!* background-color: #ff9a00; *!*/
/*padding: 0px 30px 0px 30px;*/
/*}*/

/*.icon {*/
/*padding-top: 50px;*/
/*margin: 0 auto;*/
/*width: 300px;*/
/*height: 40px;*/
/*z-index: 5;*/
/*text-align: center;*/
/*!* background-color: #B8860B; *!*/
/*}*/

/*.icon ul {*/
/*margin: 0;*/
/*padding: 0;*/
/*width: auto;*/
/*!* background-color: #B8860B; *!*/
/*}*/

/*.icon li {*/
/*float: left;*/
/*text-align: center;*/
/*font-size: 16px;*/
/*line-height: 40px;*/
/*width: 5px;*/
/*height: 40px;*/
/*margin-top: 10px;*/
/*margin-right: 37px;*/
/*border-radius: 50%;*/
/*list-style: none;*/
/*!* 	background-color: #fff; *!*/
/*}*/

/*.icon li img {*/
/*width: 20px;*/
/*}*/

/*.icon .on {*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*margin: 0 auto;*/
/*font-weight: bold;*/
/*width: 60px;*/
/*height: 4px;*/
/*background-color: #1263FF;*/
/*}*/

/*.font-on {*/
/*font-weight: bold;*/
/*color: #1263FF;*/
/*}*/

/*.icon li:hover {*/
/*color: #FF5722;*/
/*transition: .5s;*/
/*}*/
/* 底部 */
.bottom-bg {
    width: 100%;
    height: auto;
    background-color: #2D2F34;
    margin-top: -1px;
}


.bottom {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 30px 0px 30px;
}

.bottom p {
    padding-top: 14px;
    text-align: center;
    font-size: 13px;
    color: #999;
}
.bottom a{
    color: #2D2F34;
}