@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1555085988088'); /* IE9 */
  src: url('iconfont.eot?t=1555085988088#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABkgAAAJlAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYQE2AiQDCAsGAAQgBYRtBzIbiQUR1YtLsr8iGnL3tWYAqYLqNWO2bnS4GtUnt+dt8f34A4ONswIQaAUSAAAAACAe/tkfdd/XwExzpoMNTJM3bdoIOVQoRObt6wiFJtCNXWZYa4Yq3I9fa+8MsUafkNbiJcySJl2Z+fdvfXawRkmQMvRCT/DIGcoqQOZ+gKxclWuY9dWX2h58ipryH3AgAErWuki384sb3yfunf5RQIHMB5TjXrTGwADjzgfoHtgmK6GMG6aXL3AgzhMo121SLJ5c3UIZPS0Q+71LYcEjk7F4qVA0rM1eh5gpTS6Mx7Xo+/HTVEgiT+mi9X3HBf4Lk1T/PwQEvBDQ5hwpJpER242RVQjGSpVHVj/Hyg++IDCLoxoE++t0biXohMJnEjnxo8YTeKyBGtA26SFEA97tUov7+eHFxkK+u3+8aee6Xffb9Xf73qNKYdJBXya2bQ//LDs2DoNg78/B3czA20XCYbYo3Yk1+BnufKBDKiQ6kmRA/QOJhpPUlSvHf+So93mqtunMiVCqaYKtRFeGVKlBMmNOIldhGoVSMyg3YWVzhQYHILIyjDsDEGo9Q6Lac6RqvSEz5ifkmv1GoTZAud1gzwrDgfmNKqfGBWWf5PO2EWuxjTj/mt1rlWpeErHvWQfvpziIyvFTbliXWDC8ucRMSLSt6QRcxlXVUqftknMLFmbdPAyl6U1B3tbYQJVT44KyT/J520jQ3TYqn79m91ql2tGWC96zDn54ioNoAHmqbAa1Pco1w5tLzIRE25pOwCiuqpa65lFLzi1YTAh189B0kqHKYHt1/Xd7ADagdeORKZnAD582zhsAAA==') format('woff2'),
  url('iconfont.woff?t=1555085988088') format('woff'),
  url('iconfont.ttf?t=1555085988088') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555085988088#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\e6b2";
}
